{% extends 'base.html.twig' %}
{% block title %}
    {% if not app.user %} 
        Connexion - Easy Stage
    {% else %}
        Bienvenue - Easy Stage
    {% endif %}
{% endblock %}

{% block body %}

<div class="container cent">
    <div class="row cent justify-content-center align-items-center">
        <div class="col-12">
{% if not app.user %} 
            <h2><span style="color:green;">Connexion</span></h2>
                <form action="{{ path('security_login') }}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-mail" required name="_username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mot de passe" required name="_password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </div>
                </form>

{% else %}
        <H1 class="text-center">Bienvenue sur Easy Stage</H1>
{% endif %} 
        </div>
    </div>
</div>
{% endblock %}